.dm-grid {
  display: grid;
  gap: 5px;
  padding: 5px;
  flex: 1;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: #1a1a1a;
  overflow: auto;
  max-height: 100%;
  box-sizing: border-box;
}

.fullscreen-mode .dm-grid {
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}
