.dm-grid {
  display: grid;
  gap: 15px;
  padding: 15px;
  flex: 1;
  width: 98%;
  margin: 0 auto;
  background-color: #1a1a1a;
  overflow: hidden;
  max-height: calc(100vh - 200px);
}

.fullscreen-mode .dm-grid {
  max-height: 100vh;
  height: 100vh;
  width: calc(100vw - 20px);
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
